[Unit]
Description=hmip-dongle
After=network.target

[Service]
ExecStart=/bin/bash /usr/share/rf-usb/hmip-rf-usb.sh

[Install]
WantedBy=multi-user.target
